@page
<div class="container">

    <div>
        ga

        <span id="chicken">

        </span>
        <span class="" style="margin-left:30px">
            https://localhost:7091/SignalR/Vote/chicken
        </span>

    </div>


    <div>
        vit

        <span id="duck">

        </span>
        <span class="" style="margin-left:30px">
            https://localhost:7091/SignalR/Vote/duck
        </span>

    </div>

    <div>
        bo

        <span id="cow">

        </span>
        <span class="" style="margin-left:30px">
            https://localhost:7091/SignalR/Vote/duck
        </span>

    </div>

</div>



<script src="~/js/signalr/signalr.js"></script>
<script src="~/js/chat3.js"></script> 