@page
<div class="container">


    <h1> dem lan load <span id="countUi"></span></h1>
    <h1> dem user<span id="countUi2"></span></h1>

    <button id="btn">nut </button>
</div>
<script src="~/js/signalr/signalr.js"></script>
<script src="~/js/chat2.js"></script> 